.exp-container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.accordion {
  width: 100%;
  /* max-width: 600px; */
}

.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-trigger {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 0;
  background: var(--bg);
  cursor: pointer;
  font-size: 1rem;
  text-align: left;
}

/* .accordion-trigger:hover {
  color: var(--text);
} */

.accordion-panel {
  padding: 0 1rem 1rem;
  color: var(--text);
}