@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --main: #d20f39;
  --bg: #eff1f5;
  --text: #4c4f69
}

body {
  background: var(--bg);
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  margin: 0;
}

p {
  color: var(--text);
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.65;
}

.shell {
  margin: 20px 20vw;
}

.header {
  max-width: 30vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header span {
  color: var(--main)
}