@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --main: #d20f39;
  --bg: #eff1f5;
  --text: #4c4f69
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: var(--main);
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--main) transparent;
}

body {
  background: var(--bg);
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  margin: 0;
}

h2 {
  margin-top: 50px;
}

p {
  color: var(--text);
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.65;
}

a {
  text-decoration: none;
}

.shell {
  margin: 20px 20vw;
}

.header {
  max-width: 30vw;
  /* height: 50vh; */
  padding: 180px 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header span {
  color: var(--main)
}

.hero-actions {
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 26px;
  display: flex
}

.button {
  cursor: pointer;
  border: none;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  padding: 0 20px;
  font-weight: 850;
  line-height: 1;
  display: inline-flex
}

.primary {
  background: var(--main);
  color: var(--bg);
}

.secondary {
  color: var(--text);
}

.secondary:hover {
  color: var(--main)
}

.hero-icon {
  width: 40px;
  margin: 0 5px;
}

.hero-icon:hover path {
  fill: var(--main)
}

.exp-container {
  display: flex;
  gap: 5px;
}

.exp-img {
  width: 50px;
  height: 50px;
}

.cards {
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
  margin-top: 30px;
  display: grid
}

.card {
  /* min-height: 214px; */
  padding: 22px;
  position: relative;
  overflow: hidden;
  background-color: var(--bg);
  /* border: 1px solid #a2ffdf1f; */
  border: 1px solid var(--text);
  border-radius: 8px;
}

.card-topline {
  align-items: center;
  gap: 10px;
  margin-bottom: 28px;
  display: flex
}

.card>.card-topline {
  margin-bottom: 18px
}